body { background-color: gray;
	   background-image: url("fish.png");	
}

header {	
 background-color: black;
 height: 170px;
}

h1 {
 padding-top: 50px;
 text-align: center;
 font-size: 70px;
 color: white;
}

main {	
 color: black;
 margin-bottom:0;
}

hr {
width: 80%;
height: 2px;
margin-left: auto;
margin-right: auto;
background-color: yellow;
border: 0 none;
}

p {
	margin-left: 10em;
	margin-right: 13em;
	font-family: sans-serif;
	color: white;
}

footer { 
 background-color: black; 
 color: #D3D3D3;
 text-align: center;
 }

#wrapper { 
 margin-left: auto;
 margin-right: auto;
 margin-top: auto; 
 margin-bottom: auto;
 width: 150%;
 color: black;
 background-color: black;
 min-width: 420px;
 max-width: 1280px;
 min-height: 420px;
 max-height: 1280px;
}

h2 { text-align: center;
	 color:white;
	 font-size: 30px;
	 margin-top: 0;
}

form { font-family: Arial, sans-serif;
		color: white;
        width: 100%; 
		padding: 12px;
		display: inline;
}

input, textarea { margin-top: 10px;
				  margin-left: 445px;
				  margin-bottom: 40px;
				  width: 10%; 
				  padding: 20px 12px;
				  display:inline;
				  border-radius: 4px;
}

input[type="submit"] { 
	margin-left: 440px;
	font-size: 20px;
	color: white;
	width: 15%;
	border-radius: 4px;
	cursor: pointer;
	background-color: black;
	border-radius: 50%;
	border-color: yellow;	
}

input[type=submit]:hover {
    background-color: gray;
}

.container {
    background-color: black;
    border-radius: 5px;
    padding: 20px;
	margin-left: 6em;
}

.container2 {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
	margin-left: 16em;
	margin-bottom:3em;
}

.container3 {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
	margin-left: 19em;
	padding-bottom: 50px;
	text-align: center;
	color: white;
}

.container4 {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
	margin-left: 15em;
	margin-bottom:10em;
}

.deck-container {
	background-image: url("fish6.png");
	width: 124px;
	height: 53px;
	border-style: solid;
    border-width: 3px;
	border-radius: 7px;
	padding-top:50px;
	padding-bottom: 50px;
	margin-left: 34.5em;
	text-align: center;
	color: white;
}

.active-container {
	background-image: url("2C.png");
	float: left;
	width: 124px;
	height: 53px;
	border-style: solid;
    border-width: 3px;
	border-radius: 7px;
	padding-top:50px;
	padding-bottom: 70px;
	margin-left: 5px;
	margin-right: 10px;
	text-align: center;
	color: white;
}

.player-container {
	background-image: url("fish6.png");
	float: left;
	width: 130px;
	height: 53px;
	border-style: solid;
    border-width: 3px;
	border-radius: 7px;
	padding-top:50px;
	padding-bottom: 70px;
	margin-left: 5px;
	margin-right: 10px;
	text-align: center;
	color: white;
}

.scores-container {
	background-color: black;
	float: left;
	width: 100px;
	padding-top:30px;
	padding-bottom: 30px;
	margin-left: 10px;
	margin-right: auto;
	text-align: center;
	color: white;
}

.text {
	text-align: center;
	color: white;
}

.controls {
    display: inline-block;
    width: 90px;
    height: 20px;
    text-align: center;
    vertical-align: top;
    padding-top: 20px;
}
.controls input {
    display: block;
    margin: 0 auto -40px;
}

.button{
	float:left;
	font-size: 20px;
	color: white;
	width: 13%;
	border-radius: 50%;
	border-color: yellow;
	cursor: pointer;
	background-color: black;
	margin-right: 1em;
	padding: 1em;
}

.button:hover {
    background-color: #A9A9A9;
}

.button1{
	font-size: 20px;
	color: white;
	width: 13%;
	border-radius: 50%;
	border-color: yellow;
	cursor: pointer;
	background-color: black;
	margin-right: 1em;
	padding: 1em;
}

.button1:hover {
    background-color: #A9A9A9;
}
